<lint-module
    format="1"
    dir="/Users/jigarmangukiya/.pub-cache/hosted/pub.dev/speech_to_text-6.6.0/android"
    name=":speech_to_text"
    type="LIBRARY"
    maven="com.csdcorp.speech_to_text:speech_to_text:"
    agpVersion="8.2.2"
    buildFolder="/Users/jigarmangukiya/Workspace/Product Labs/gaurdian/GuardianAngelApp/build/speech_to_text"
    bootClassPath="/Users/jigarmangukiya/Library/Android/sdk/platforms/android-33/android.jar:/Users/jigarmangukiya/Library/Android/sdk/build-tools/34.0.0/core-lambda-stubs.jar"
    javaSourceLevel="1.8"
    compileTarget="android-33"
    neverShrinking="true">
  <lintOptions
      disable="InvalidPackage"
      abortOnError="true"
      absolutePaths="true"
      checkReleaseBuilds="true"
      explainIssues="true">
    <severities>
      <severity
        id="InvalidPackage"
        severity="IGNORE" />
    </severities>
  </lintOptions>
  <variant name="release"/>
</lint-module>
